.flip-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 12rem;
  position: relative;
  perspective: 1000px;
  transition: transform 0.6s;
  background-color: #ed891d;
  transform-style: preserve-3d;
  outline: 0.1rem solid black;
  transition: opacity 0.6s;
}

.flip-box.flipped {
  transform: rotateY(180deg);
  background-color: #272525;
}
